annotated-types
anyio
async-timeout
asyncpg
click
exceptiongroup
fastapi
greenlet
h11
idna
pydantic
pydantic-settings
pydantic_core
python-dotenv
sniffio
SQLAlchemy
starlette
typing_extensions
uvicorn
Flask
psycopg2-binary
numpy
pandas
scikit-learn
tensorflow
torch
matplotlib
xgboost
lightgbm
keras
nltk
spacy
gym
beautifulsoup4
requests
flask
django
pytest
jupyterlab
seaborn
plotly
statsmodels
pyarrow
dask
pillow
tqdm
joblib
imageio
